# Certifications
{% for certification in certifications %}

## Certification

{% if settings.issuer and certification.issuer %}
Issuer: {{ certification.issuer }}
{% endif %}

{% if settings.name and certification.name %}
Name: {{ certification.name }}
{% endif %}

{% if settings.issued and certification.issued %}
Issued: {{ certification.issued|date }}
{% endif %}

{% if settings.expires and certification.expires %}
Expires: {{ certification.expires|date }}
{% endif %}

{% if settings.certification_id and certification.certification_id %}
Certification ID: {{ certification.certification_id }}
{% endif %}

{% endfor %}