# Certifications
{% for certification in certifications %}

## Certification

{% if settings.issuer and certification.issuer %}
Issuer: {{ certification.issuer }}
{% endif %}

{% if settings.name and certification.name %}
Name: {{ certification.name }}
{% endif %}

{% if settings.issued and certification.issued %}
Issued: {{ certification.issued|date }}
{% endif %}

{% if settings.expires and certification.expires %}
Expires: {{ certification.expires|date }}
{% endif %}

{% if settings.credential_id and certification.credential_id %}
Credential ID: {{ certification.credential_id }}
{% endif %}

{% endfor %}