# Education

## Degrees
{% for degree in education.degrees %}
## Degree

{% if settings.school and degree.school %}
School: {{ degree.school }}
{% endif %}

{% if settings.degree and degree.degree %}
Degree: {{ degree.degree }}
{% endif %}

{% if settings.start_date and degree.start_date %}
Start date: {{ degree.start_date|date }}
{% endif %}

{% if settings.end_date %}
{% if degree.end_date %}
End date: {{ degree.end_date|date }}
{% else %}
End date: Present
{% endif %}
{% endif %}

{% if settings.major and degree.major %}
Major: {{ degree.major }}
{% endif %}

{% if settings.gpa and degree.gpa %}
GPA: {{ degree.gpa }}
{% endif %}

{% endfor %}