
# Personal
{% if settings.contact_info and personal.contact_info %}
## Contact Information

{% if settings.name and personal.contact_info.name %}
Name: {{ personal.contact_info.name }}
{% endif %}

{% if settings.email and personal.contact_info.email %}
Email: {{ personal.contact_info.email }}
{% endif %}

{% if settings.phone and personal.contact_info.phone %}
Phone: {{ personal.contact_info.phone }}
{% endif %}

{% if settings.location and personal.contact_info.location %}
Location: {{ personal.contact_info.location }}
{% endif %}
{% endif %}

{% if settings.websites and personal.websites %}
## Websites
{% if settings.github and personal.websites.github %}
GitHub: {{ personal.websites.github }}
{% endif %}

{% if settings.linkedin and personal.websites.linkedin %}
LinkedIn: {{ personal.websites.linkedin }}
{% endif %}

{% if settings.website and personal.websites.website %}
Website: {{ personal.websites.website }}
{% endif %}

{% if settings.twitter and personal.websites.twitter %}
Twitter: {{ personal.websites.twitter }}
{% endif %}
{% endif %}

{% if settings.visa_status and personal.visa_status %}
## Visa Status
{% if settings.work_authorization and personal.visa_status.work_authorization %}
Work Authorization: {{ personal.visa_status.work_authorization }}
{% endif %}

{% if settings.require_sponsorship and personal.visa_status.require_sponsorship != None %}
Require Sponsorship: {{ "Yes" if personal.visa_status.require_sponsorship else "No" }}
{% endif %}
{% endif %}

## Banner
{% if settings.banner and personal.banner.text %}
{{ personal.banner.text }}
{% endif %}

## Note
{% if settings.note and personal.note.text %}
{{ personal.note.text }}
{% endif %}

