## Projects
{% for project in projects %}
### Project

{% if settings.title and project.overview.title %}
Title: {{ project.overview.title }}
{% endif %}

{% if settings.url and project.overview.url %}
Url: {{ project.overview.url }}
{% endif %}

{% if settings.url_description and project.overview.url_description %}
Url Description: {{ project.overview.url_description }}
{% endif %}

{% if settings.start_date and project.overview.start_date %}
Start date: {{ project.overview.start_date|date }}
{% endif %}

{% if settings.end_date and project.overview.end_date %}
End date: {{ project.overview.end_date|date }}
{% endif %}

{% if settings.description and project.description and project.description.text %}
#### Description
{{ project.description.text }}
{% endif %}

{% if settings.skills and project.skills %}
#### Skills
{% for skill in project.skills %}
* {{ skill }}<br/>
{% endfor %}
{% endif %}

{% endfor %}