## Roles
{% for role in roles -%}### Role
#### Basics
Company: {{ role.basics.company }}
{% if settings.agency_name and role.basics.agency_name %}Agency: {{ role.basics.agency_name }}{% endif %}
{% if settings.job_category and role.basics.job_category %}Job category: {{ role.basics.job_category }}{% endif %}
{% if settings.employment_type and role.basics.employment_type %}Employment type:  {{ role.basics.employment_type }}{% endif %}
{% if settings.start_date and role.basics.start_date %}Start Date:  {{ role.basics.start_date|date }}{% endif %}
{% if settings.end_date and role.basics.end_date %}End Date:  {{ role.basics.end_date|date }}{% else %}End Date:  Present{% endif %}
Title:  {{ role.basics.title }}
{% if settings.reason_for_change and role.basics.reason_for_change %}Reason for Change:  {{ role.basics.reason_for_change }}{% endif %}
{% if settings.location and role.basics.location %}Location:  {{ role.basics.location }}{% endif %}
{% if settings.summary and role.summary.summary %}#### Summary
{{ role.summary.summary }}{% endif %}
{% if settings.responsibilities and role.responsibilities %}#### Description
{{ role.responsibilities.text }}{% endif %}
{% if settings.skills and role.skills %}#### Skills
{% for skill in role.skills.skills %}* {{ skill }}
{% endfor +%}{% endif %}{% endfor +%}
