# Python-specific entries
__pycache__/
*.pyc
*.pyo
*.so
*.egg-info/
*.log
*.mo
.tox/
.coverage
.cache/
.mypy_cache/
.pytest_cache/
.venv*/

# Type stubs
out/

# VSCode-specific entries
.vscode/
.ropeproject/
.vsix
envVars.txt
.vscode-test/
.venv*/

# LibreWriter temp files
.~lock.*#

# Personal data
personal_data

# garage data
infra/export/var/lib/garage/data
infra/export/var/lib/garage/meta

# env files with secrets
*.env
.aider*
.env
start_aider.sh

# Continue.dev files
.continue/