# Python-specific entries
__pycache__/
*.pyc
*.pyo
*.so
*.egg-info/
*.log
*.mo
.tox/
.coverage
.cache/
.mypy_cache/
.pytest_cache/
.venv*/

# Type stubs
out/

# VSCode-specific entries
.vscode/
.ropeproject/
.vsix
envVars.txt
.vscode-test/
.venv*/

# LibreWriter temp files
.~lock.*#

# Personal data
personal_data

# Test output
data/temp_*
data/test_*

# env files with secrets
*.env
.env
.env*

# utilities
_*.py
.coverage
DEV_PLAN.md
_*.md

# Agent files
_agent/
thoughts/
.mindmodel/
.git-commit-msg
