<h1>Certifications</h1>
{% for certification in certifications %}

<h2>Certification</h2>
{% if settings.name and certification.name %}
<div class="certification-name">
Name: {{ certification.name }}
</div>
{% endif %}

{% if settings.issuer and certification.issuer %}
<div class="certification-issuer">
Issued by: {{ certification.issuer }}
</div>
{% endif %}

{% if settings.issued and certification.issued %}
<div class="certification-issued">
Issued on: {{ certification.issued|date }}
</div>
{% endif %}

{% if settings.expires and certification.expires %}
<div class="certification-expires">
Expires on: {{ certification.expires|date }}
</div>
{% endif %}

{% if settings.certification_id and certification.certification_id %}
<div class="certification-certification-id">
Certification ID: {{ certification.certification_id }}
</div>
{% endif %}

{% endfor %}