<div id='personal'>
{% if settings.contact_info and personal.contact_info %}
{% if settings.name and personal.name %}
<h1>{{ name }}</h1>

{% endif %} <!-- name -->
{% endif %} <!--- contact_info -->
</div>